<a href="https://colab.research.google.com/github/vertuam/Experimentos-CCE-UEL/blob/master/ProjetoClassificacaoExercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
# dependencias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

# URL Dataset from reposirioty
urlDataset = 'https://github.com/vertuam/Experimentos-CCE-UEL/blob/master/zoo.csv?raw=true'
urlClasses = 'https://github.com/vertuam/Experimentos-CCE-UEL/blob/master/class.csv?raw=true'

# Load Dataset from reposirioty
dfDataset = pd.read_csv(urlDataset, index_col=0)
dfClasses = pd.read_csv(urlClasses, index_col=0)

print('Dataset carregados com sucesso!')

In [91]:
# Dataset is now stored in a Pandas Dataframe
dfDataset.head()

             hair  feathers  eggs  milk  ...  tail  domestic  catsize  class_type
animal_name                              ...
aardvark        1         0     0     1  ...     0         0        1           1
antelope        1         0     0     1  ...     1         0        1           1
bass            0         0     1     0  ...     1         0        0           4
bear            1         0     0     1  ...     0         0        1           1
boar            1         0     0     1  ...     1         0        1           1

[5 rows x 17 columns]

In [94]:
# Dataset is now stored in a Pandas Dataframe
dfClasses.head()

             hair  feathers  eggs  milk  ...  tail  domestic  catsize  class_type
animal_name                              ...
aardvark        1         0     0     1  ...     0         0        1           1
antelope        1         0     0     1  ...     1         0        1           1
bass            0         0     1     0  ...     1         0        0           4
bear            1         0     0     1  ...     0         0        1           1
boar            1         0     0     1  ...     1         0        1           1

[5 rows x 17 columns]

In [95]:
# Verificar a qualidade dos dados e valores ausentes (NaN) (Animais)
dfDataset.isnull().sum()

hair          0
feathers      0
eggs          0
milk          0
airborne      0
aquatic       0
predator      0
toothed       0
backbone      0
breathes      0
venomous      0
fins          0
legs          0
tail          0
domestic      0
catsize       0
class_type    0
dtype: int64

In [97]:
dfDataset.describe()

             hair    feathers        eggs  ...    domestic     catsize  class_type
count  101.000000  101.000000  101.000000  ...  101.000000  101.000000  101.000000
mean     0.425743    0.198020    0.584158  ...    0.128713    0.435644    2.831683
std      0.496921    0.400495    0.495325  ...    0.336552    0.498314    2.102709
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    1.000000
25%      0.000000    0.000000    0.000000  ...    0.000000    0.000000    1.000000
50%      0.000000    0.000000    1.000000  ...    0.000000    0.000000    2.000000
75%      1.000000    0.000000    1.000000  ...    0.000000    1.000000    4.000000
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    7.000000

[8 rows x 17 columns]

In [99]:
# Print da classes existentes
print(dfDataset.class_type.unique())

[1 4 2 7 6 5 3]